<div class="mode-result row">
    <div class="mode-heading col-xs-12">
         <strong>{{getTime checkpoints.0.latest-time}}</strong> Check in car at {{endLoc}}
    </div>
    <div class="mode-content zipcar vendor col-xs-12">
        <div class="mode-icon">
            {{{iconBlock type}}}
        </div>
        <div class="mode-description">
            <p>{{startLoc}} </p>
        </div>
    </div>
</div>