* {
  font-family: Arial, sans;
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0; }

h2, button, a.button {
  font-size: 18px;
  color: #333;
  font-weight: normal; }

button, .button {
  padding: 5px 10px;
  border: none;
  background-color: white;
  text-decoration: none; }

.coming-soon {
  width: 100%;
  height: 159px;
  background: #222;
  font-weight: bold;
  opacity: .7;
  text-align: center;
  padding: 50px;
  color: white; }

.block {
  width: 100%;
  float: left;
  min-height: 120px;
  position: relative;
  margin-bottom: 20px;
  padding-top: 80px; }
  .block.block-span {
    margin-bottom: 0px; }
  .block .block-head {
    position: absolute;
    top: 20px;
    left: 0;
    padding: 0 20px 0 0;
    width: 100%; }
  .block .block-title {
    float: left;
    background: white;
    padding: 10px;
    margin: 0; }
  .block .block-modifier {
    float: right;
    background: white;
    padding: 10px;
    margin: 0; }

.app-container {
  width: 100%;
  display: block;
  overflow: auto; }

.col {
  float: left;
  padding: 20px; }

.one-col {
  width: 100%;
  float: left; }
  .one-col .col {
    width: 100%; }

.two-col {
  float: left;
  width: 100%; }
  .two-col .col {
    width: 50%; }

.fieldset {
  margin-bottom: 15px; }

.legend {
  font-weight: bold;
  padding: 0 8px; }

.login-view {
  margin: 0;
  background-color: #ccc;
  height: 100vh;
  width: 100vw; }

.login {
  width: 400px;
  margin: auto;
  margin-top: 100px;
  position: absolute;
  left: 50%;
  margin-left: -200px; }

.visa {
  color: #0157a2; }

.mastercard {
  color: #0a3a82; }

.paypal {
  color: #253b80; }

.amex {
  color: #007bc1; }

i.rain, span.rain {
  color: #99FFCC; }

i.sleet, span.sleet {
  color: #9999FF; }

i.snow, span.snow {
  color: #6699CC; }

i.ice, span.ice {
  color: #CC66CC; }

i.cold, span.cold {
  color: #9966CC; }

i.car, span.car {
  color: #3366CC; }

i.bicycle, span.bicycle {
  color: #33CCCC; }

i.rocket, span.rocket {
  color: #AA0022; }

i.taxi, span.taxi {
  color: #FF9900; }

i.bus, span.bus {
  color: #CC9966; }

i.walk, span.walk {
  color: #FF0066; }

i.train, span.train {
  color: #660066; }

i.subway, span.subway {
  color: #000; }

i.scooter, span.scooter {
  color: #bbcc44; }

.mode {
  float: left;
  font-size: 22px;
  margin: 0px 9px;
  text-align: center; }
  .mode .mode-name {
    font-size: 11px;
    text-align: center;
    width: 100%;
    display: block;
    text-transform: uppercase;
    position: relative; }
  .mode.disabled .fa-circle {
    color: #888; }

.trans-bg {
  background: none; }
  .trans-bg:before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    background: white;
    opacity: .83;
    width: 100%;
    height: 100%;
    z-index: 0; }

.question-view {
  height: 100vh;
  width: 100vw; }
  .question-view .question-view-container {
    position: relative;
    margin: auto;
    width: 700px;
    margin-top: 150px;
    border-radius: 10px;
    padding: 30px; }
  .question-view .question {
    position: relative; }
  .question-view .submit {
    display: block;
    margin-top: 20px; }

.user-view {
  background-image: url("../../img/bokeh.jpg");
  background-size: contain; }
  .user-view .page-container {
    max-width: 900px;
    margin: auto;
    margin-top: 50px; }
  .user-view h1 {
    color: white; }
  .user-view .map {
    height: 300px;
    width: 100%; }
  .user-view .chart-container .chart {
    height: 200px; }
  .user-view .chart-container .button-area {
    display: none;
    padding: 0; }
    .user-view .chart-container .button-area button {
      font-size: 12px;
      width: 100%;
      font-weight: bold;
      padding: 5px;
      margin-bottom: 5px; }
    .user-view .chart-container .button-area .spent {
      background-color: #99CCFF; }
    .user-view .chart-container .button-area .saved {
      background-color: #CCFF00; }
  .user-view .mode-area {
    padding-bottom: 20px; }

.membership p {
  font-weight: bold;
  text-align: center;
  border-top: 1px solid #333;
  padding: 10px; }

.search-view {
  height: 100vh;
  width: 100vw; }

#search-map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }
  @media screen and (min-width: 768px) {
    #search-map {
      padding-left: 330px; } }

.search-box {
  width: 40vw;
  height: 78px;
  position: absolute;
  left: 60vw;
  top: 0;
  z-index: 2;
  margin-left: -20vw;
  margin-top: 20px; }
  @media screen and (max-width: 767px) {
    .search-box {
      padding: 20px;
      width: 100vw;
      left: 0;
      margin-left: 0; } }
  .search-box input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px; }
  .search-box .search-button {
    height: 78px;
    color: #333;
    background: #ccc;
    width: 100%;
    font-size: 33px;
    text-align: center;
    padding-top: 15px;
    display: inline-block;
    cursor: pointer; }

.show-filters, .hide-filters {
  z-index: 2;
  left: 0;
  position: fixed;
  bottom: 0;
  padding: 15px 0;
  background: lightskyblue;
  color: white;
  font-size: 18px;
  width: 100%;
  font-weight: bold; }
  @media screen and (min-width: 768px) {
    .show-filters, .hide-filters {
      display: none; } }

.search-bar {
  height: 100vh;
  width: 330px;
  position: relative;
  overflow-y: auto;
  color: #333;
  padding: 5px;
  float: left; }
  @media screen and (max-width: 767px) {
    .search-bar {
      display: none;
      width: 100%;
      z-index: 9;
      background: white;
      padding-bottom: 75px; }
      .search-bar .overlay {
        width: 100%; } }
  .search-bar .overlay {
    opacity: .2;
    background: white;
    height: 100%;
    width: 330px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1; }
    @media screen and (min-width: 768px) {
      .search-bar .overlay {
        background-image: url("../../img/map-overlay.png"); } }
  .search-bar .content {
    z-index: 1;
    position: relative; }
  .search-bar .filter-bar {
    text-align: center;
    padding: 15px;
    background: white;
    float: left;
    width: 100%; }
  .search-bar input[type="range"] {
    display: block;
    width: 100%;
    margin-top: 10px; }
  .search-bar .cc-id {
    text-align: center; }
    .search-bar .cc-id i {
      width: 20%;
      font-size: 20px; }
  .search-bar .range-filter {
    margin: 10px 0; }
  .search-bar .label-data {
    float: right; }
  .search-bar.results-bar .filter-bar:first-child {
    display: none; }
  .search-bar.results-bar .hidden-results {
    display: none; }
  .search-bar.results-bar .mode-name {
    display: none; }
  .search-bar.results-bar .fa-circle:before {
    content: "\f068" !important; }
  .search-bar .results-area {
    height: 80vh;
    overflow: auto;
    overflow-x: hidden; }
  .search-bar .search-result {
    width: 100%;
    margin-bottom: 10px;
    background: white;
    clear: both;
    display: inline-block;
    cursor: pointer; }
    .search-bar .search-result .mode-result {
      padding: 0 6px; }
    .search-bar .search-result .result-container {
      padding: 6px;
      border: 1px solid #ccc; }
    .search-bar .search-result.selected {
      background: #fafafa; }
    .search-bar .search-result p {
      margin: 0; }
    .search-bar .search-result .heading {
      float: left;
      width: 100%;
      padding: 0 5px;
      margin: 0 0 5px 0; }
    .search-bar .search-result .departure {
      text-align: right;
      margin: 0 0; }
  .search-bar .timeline-container {
    overflow: hidden;
    width: 100%;
    height: 30px; }
  .search-bar .trip-timeline {
    width: 100%;
    height: 1px;
    position: relative;
    border: 4px solid #7f7f7f;
    margin: 10px 0 15px 0;
    float: left; }
  .search-bar .activity-plot {
    position: absolute;
    top: -10px; }
    .search-bar .activity-plot.end {
      border-radius: 0;
      width: 100%;
      background: white;
      border-left: 3px solid #333; }
  .search-bar .activity-container {
    position: relative;
    margin-top: 10px;
    float: left; }
    .search-bar .activity-container .activity-item {
      position: absolute;
      top: 0;
      left: 0; }
    .search-bar .activity-container span {
      margin-left: 35px; }
    .search-bar .activity-container p {
      float: left;
      margin-left: 36px;
      font-size: 12px;
      margin: 2px 0 3px 36px; }
  .search-bar .activity-container span {
    text-transform: capitalize;
    font-size: 17px;
    width: 87%;
    display: inline-block;
    background-color: white;
    font-weight: bold; }
  .search-bar .activity-plot, .search-bar .activity-item {
    height: 20px;
    width: 20px;
    margin: 0;
    display: inline-block;
    line-height: 20px;
    border-radius: 100%;
    background-size: contain;
    background-color: #333;
    text-align: center;
    color: black;
    font-size: 10px; }
  .search-bar .btn-book {
    font-weight: bold;
    width: 100%;
    text-align: center; }

.activity-plot.train, .activity-item.train {
  background-color: #660066; }

.activity-plot.bike, .activity-item.bike {
  background-color: #33CCCC; }

.activity-plot.drive, .activity-item.drive {
  background-color: #3366CC; }

.activity-plot.walk, .activity-item.walk {
  background-image: url("../../img/walk-ico.png");
  background-color: #FF0066;
  background-size: 75% 75%;
  background-position: center 48%;
  background-repeat: no-repeat;
  background-image: url("../../img/walk-ico.png"); }

.activity-plot.taxi, .activity-item.taxi {
  background-color: yellow; }

.activity-plot.transit, .activity-item.transit {
  background-image: url("../../img/mbta-ico.png"); }

.activity-plot.uber, .activity-item.uber {
  background-image: url("../../img/uber-ico.png"); }

.activity-plot.lyft, .activity-item.lyft {
  background-image: url("../../img/lyft-ico.png"); }

.activity-plot.zipcar, .activity-item.zipcar {
  background-image: url("../../img/zipcar-ico.png"); }

.activity-plot.hubway, .activity-item.hubway {
  background-image: url("../../img/hubway-ico.png"); }

.mode-result:last-child .mode-content {
  border-bottom: 1px solid black; }

.mode-result .mode-heading {
  border-top: 1px solid black;
  font-size: 11px;
  padding: 0px 5px 0px 17px;
  position: relative;
  width: 92%;
  float: right;
  border-left: 7px solid #7f7f7f;
  margin-right: 9px;
  border-right: 1px solid black; }
  .mode-result .mode-heading:before {
    content: '';
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: white;
    position: absolute;
    left: -15px;
    border: 1px solid black;
    top: -4px;
    z-index: 999; }

.mode-result .mode-content {
  border-left: 7px solid #7f7f7f;
  margin-left: 18px;
  margin-top: 0px;
  padding-left: 0;
  border-right: 1px solid black;
  width: 92%;
  display: flex;
  align-items: center; }
  .mode-result .mode-content.vendor .mode-icon {
    background: white; }
  .mode-result .mode-content .mode-icon {
    padding-left: 10px;
    padding-right: 10px;
    width: 55px; }
  .mode-result .mode-content.train, .mode-result .mode-content.transit {
    background-color: #660066; }
  .mode-result .mode-content.bike {
    background-color: #33CCCC; }
  .mode-result .mode-content.park {
    background: darkgreen; }
  .mode-result .mode-content.hubway {
    background-image: url("../../img/hubway-ico.png"); }
  .mode-result .mode-content.zipcar {
    background-image: url("../../img/zipcar-ico.png"); }
  .mode-result .mode-content.drive {
    background-color: #3366CC; }
  .mode-result .mode-content.walk {
    background-color: #FF0066; }
  .mode-result .mode-content.taxi {
    background-color: yellow; }
  .mode-result .mode-content .mode-description {
    padding: 0 0 0 11px;
    font-size: 11px;
    color: white;
    font-weight: bold;
    width: 90%; }
    .mode-result .mode-content .mode-description p {
      margin: 0; }
  .mode-result .mode-content .activity-item {
    height: 32px;
    width: 32px;
    margin: 15px 0;
    color: white;
    border: 1px solid white; }
    .mode-result .mode-content .activity-item .fa {
      font-size: 18px;
      padding: 6px 0px 5px 0; }
    .mode-result .mode-content .activity-item.walk {
      background-image: url("../../img/walk-ico-light.png");
      background-size: 75% 75%;
      background-position: center 48%;
      background-repeat: no-repeat; }
    .mode-result .mode-content .activity-item.transit {
      background-image: url("../../img/mbta-ico.png"); }
    .mode-result .mode-content .activity-item.uber {
      background-image: url("../../img/uber-ico.png"); }
    .mode-result .mode-content .activity-item.lyft {
      background-image: url("../../img/lyft-ico.png"); }
    .mode-result .mode-content .activity-item.zipcar {
      background-image: url("../../img/zipcar-ico.png"); }
    .mode-result .mode-content .activity-item.hubway {
      background-image: url("../../img/hubway-ico.png"); }

.mode-filter {
  float: left;
  width: 20%;
  text-align: center;
  cursor: pointer; }
  .mode-filter:not(.selected) .fa-stack-2x {
    color: #ccc !important; }
  .mode-filter.selected .fa-inverse {
    color: inherit; }
  .mode-filter .mode-name {
    float: left;
    width: 100%; }
  .mode-filter .fa-stack {
    font-size: 18px; }

input[type=range] {
  -webkit-appearance: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #222;
  border: none;
  border-radius: 3px; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #666;
  margin-top: -4px; }

input[type=range]:focus {
  outline: none; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #222; }

.error {
  color: red;
  font-family: georgia;
  padding-top: 5px;
  display: block; }

.update-success {
  width: 100%;
  background: green;
  box-shadow: 0px 0px 2px 1px #000;
  padding: 5px 20px;
  float: left;
  display: block;
  color: white;
  font-weight: bold;
  margin: 0 0 20px 0; }

.arrivals-list {
  width: 500px;
  overflow: hidden;
  max-height: 30vh;
  overflow-y: scroll; }
  .arrivals-list .col-xs-6 {
    padding: 0; }
  .arrivals-list .vehicle-stop {
    padding: 0 10px;
    float: left;
    border-right: 1px solid white; }
  .arrivals-list .vehicle-stop:last-child {
    border: none; }
  .arrivals-list .arrival {
    width: 100%;
    float: left;
    padding: 10px 20px;
    margin: 5px 6px;
    color: white;
    font-size: 18px; }
    .arrivals-list .arrival.subway.red {
      background-color: #CC3333; }
    .arrivals-list .arrival.subway.blue {
      background-color: #3366CC; }
    .arrivals-list .arrival.subway.green, .arrivals-list .arrival.subway.green-e, .arrivals-list .arrival.subway.green-b, .arrivals-list .arrival.subway.green-c, .arrivals-list .arrival.subway.green-d {
      background-color: #339966; }
    .arrivals-list .arrival.subway.orange {
      background-color: #CC6600; }
    .arrivals-list .arrival.subway.blue {
      background-color: #990066; }
    .arrivals-list .arrival.bus {
      background-color: #CC9966; }
    .arrivals-list .arrival.train, .arrivals-list .arrival.commuter {
      background-color: #660066; }
    .arrivals-list .arrival.subway {
      background-color: #000; }
