* {
  font-family: Arial, sans;
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0; }

h2, button, a.button {
  font-size: 18px;
  color: #333;
  font-weight: normal; }

button, .button {
  padding: 5px 10px;
  border: none;
  background-color: white;
  text-decoration: none; }

.coming-soon {
  width: 100%;
  height: 159px;
  background: #222;
  font-weight: bold;
  opacity: .7;
  text-align: center;
  padding: 50px;
  color: white; }

.block {
  width: 100%;
  float: left;
  min-height: 120px;
  position: relative;
  margin-bottom: 20px;
  padding-top: 80px; }
  .block.block-span {
    margin-bottom: 0px; }
  .block .block-head {
    position: absolute;
    top: 20px;
    left: 0;
    padding: 0 20px 0 0;
    width: 100%; }
  .block .block-title {
    float: left;
    background: white;
    padding: 10px;
    margin: 0; }
  .block .block-modifier {
    float: right;
    background: white;
    padding: 10px;
    margin: 0; }

.app-container {
  width: 100%;
  display: block;
  overflow: auto; }

.col {
  float: left;
  padding: 20px; }

.one-col {
  width: 100%;
  float: left; }
  .one-col .col {
    width: 100%; }

.two-col {
  float: left;
  width: 100%; }
  .two-col .col {
    width: 50%; }

.login-view {
  margin: 0;
  background-color: #ccc;
  height: 100vh;
  width: 100vw; }

.login {
  width: 400px;
  margin: auto;
  margin-top: 100px;
  position: absolute;
  left: 50%;
  margin-left: -200px; }

.visa {
  color: #0157a2; }

.mastercard {
  color: #0a3a82; }

.paypal {
  color: #253b80; }

.amex {
  color: #007bc1; }

i.rain, span.rain {
  color: #99FFCC; }

i.sleet, span.sleet {
  color: #9999FF; }

i.snow, span.snow {
  color: #6699CC; }

i.ice, span.ice {
  color: #CC66CC; }

i.cold, span.cold {
  color: #9966CC; }

i.car, span.car {
  color: #3366CC; }

i.bicycle, span.bicycle {
  color: #33CCCC; }

i.rocket, span.rocket {
  color: #AA0022; }

i.taxi, span.taxi {
  color: #FF9900; }

i.bus, span.bus {
  color: #FF6633; }

i.walk, span.walk {
  color: #FF0066; }

i.train, span.train {
  color: #660066; }

i.subway, span.subway {
  color: #000; }

i.scooter, span.scooter {
  color: #bbcc44; }

.mode {
  float: left;
  font-size: 24px;
  margin: 0 12px 10px 12px; }
  .mode .mode-name {
    font-size: 13px;
    text-align: center;
    width: 100%;
    display: block;
    text-transform: uppercase; }
  .mode.disabled .fa-circle {
    color: #888; }

.trans-bg {
  background: none; }
  .trans-bg:before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    background: white;
    opacity: .83;
    width: 100%;
    height: 100%;
    z-index: 0; }

.question-view {
  height: 100vh;
  width: 100vw; }
  .question-view .question-view-container {
    position: relative;
    margin: auto;
    width: 700px;
    margin-top: 150px;
    border-radius: 10px;
    padding: 30px; }
  .question-view .question {
    position: relative; }
  .question-view .submit {
    display: block;
    margin-top: 20px; }

.user-view {
  background-image: url("../../img/bokeh.jpg");
  background-size: contain; }
  .user-view .page-container {
    max-width: 900px;
    margin: auto;
    margin-top: 50px; }
  .user-view h1 {
    color: white; }
  .user-view .map {
    height: 300px;
    width: 100%; }
  .user-view .chart-container .chart {
    height: 200px; }
  .user-view .chart-container .button-area {
    display: none;
    padding: 0; }
    .user-view .chart-container .button-area button {
      font-size: 12px;
      width: 100%;
      font-weight: bold;
      padding: 5px;
      margin-bottom: 5px; }
    .user-view .chart-container .button-area .spent {
      background-color: #99CCFF; }
    .user-view .chart-container .button-area .saved {
      background-color: #CCFF00; }
  .user-view .mode-area {
    padding-bottom: 20px; }

.membership p {
  font-weight: bold;
  text-align: center;
  border-top: 1px solid #333;
  padding: 10px; }

.search-view {
  height: 100vh;
  width: 100vw; }

#search-map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.search-box {
  width: 40vw;
  height: 300px;
  position: absolute;
  left: 60vw;
  top: 0;
  z-index: 2;
  margin-left: -20vw;
  margin-top: 20px; }
  .search-box input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px; }
  .search-box .search-button {
    height: 78px;
    background: #333;
    color: #ccc;
    width: 100%;
    font-size: 33px;
    text-align: center;
    padding-top: 22px;
    cursor: pointer; }

.search-bar {
  height: 100vh;
  width: 300px;
  position: relative;
  overflow-y: auto;
  color: #333;
  padding: 25px;
  float: left; }
  .search-bar .overlay {
    opacity: .83;
    background: white;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1; }
  .search-bar .content {
    z-index: 1;
    position: relative; }
  .search-bar .filter-bar {
    text-align: center;
    padding: 15px;
    background: white;
    float: left;
    width: 100%; }
  .search-bar input[type="range"] {
    display: block;
    width: 100%;
    margin-top: 10px; }
  .search-bar .cc-id {
    text-align: center; }
    .search-bar .cc-id i {
      width: 20%;
      font-size: 20px; }
  .search-bar .range-filter {
    margin: 10px 0; }
  .search-bar .label-data {
    float: right; }

.mode-filter {
  float: left;
  width: 20%;
  text-align: center;
  cursor: pointer; }
  .mode-filter:not(.selected) .fa-stack-2x {
    color: #ccc !important; }
  .mode-filter.selected .fa-inverse {
    color: inherit; }
  .mode-filter .mode-name {
    float: left;
    width: 100%; }
  .mode-filter .fa-stack {
    font-size: 18px; }

input[type=range] {
  -webkit-appearance: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #222;
  border: none;
  border-radius: 3px; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #666;
  margin-top: -4px; }

input[type=range]:focus {
  outline: none; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #222; }
