<div class="login">
    <h1>Login or Create Account</h1>
    <p>Choose login or create an account to continue</p>
    <form>
        <fieldset>
            <legend>Account Type:</legend>
            <input type="radio" name="account-type" value="login" checked>Existing User<br>
            <input type="radio" name="account-type" value="create">Create Account<br>
        </fieldset>
        <fieldset>
            <legend>Credentials:</legend>
            <input type="text" name="username" id="username" placeholder="User ID"/>
            <input type="password" name="password" id="password" placeholder="Password"/>
        </fieldset>
        <input type="submit" value="Submit"/>
    </form>
</div>