<div class="question-view-container">
    <a href="#user">Back to Profile Page</a>
    <div class="question-box">
        <h1 id="question">Thanks for answering! That's all for now</h1>
    </div>
</div>