<div class="question-view-container">
    <div class="question-box trans-bg">
        <div class="container-fluid question">
            <a href="#user">Back to Profile Page</a>
            <div class="row" style="margin-top:10px;">
                <div class="col-xs-2">
                    <label>Email</label>
                </div>
                <div class="col-xs-10">
                    <input type="text" id="email" value="{{USEREMAIL}}"/>
                    <label class="error"></label>
                </div>
            </div>
            <button class="btn btn-primary submit">Submit</button>
        </div>
    </div>
</div>