<div class="question-view-container">
    <div class="question-box trans-bg">
        <div class="container-fluid question">
            <a href="#user">Back to Profile Page</a>
            <h2 id="question">{{Question}}</h2>
            <input type="text" id="answer"/>
            <button class="btn btn-primary submit">Submit</button>
        </div>
    </div>
</div>