<div class="question-view-container">
    <a href="#user">Back to Profile Page</a>
    <div class="question-box">
        <h1 id="question">{{Question}}</h1>
        <input type="text" id="answer"/>
        <button class="btn btn-primary submit">Submit</button>
    </div>
</div>