$el-bg: #ccc;
$text:#333;  
$font-fam: Arial, sans;
$font-md: 18px;

//Transport 

$bicycle:  #33CCCC; 
$car: #3366CC;
$train: #660066;
$walk:  #FF0066;
$rocket: #AA0022;
$bus:   #FF6633;
$taxi:  #FF9900;
$subway: #000;
$scooter: #bbcc44;

//Stats

$saved: #CCFF00;
$spent: #99CCFF;

//Weather

$rain:      #99FFCC;
$snow:      #6699CC;
$sleet:     #9999FF;
$ice:       #CC66CC;
$cold:      #9966CC;

$visa:          #0157a2;
$mastercard:    #0a3a82;
$paypal:        #253b80;
$amex:          #007bc1;


*{
    font-family:$font-fam;
    box-sizing:border-box;
}

body{
    padding:0;
    margin:0;
}

h2, button, a.button{
    font-size:$font-md;
    color:$text;
    font-weight:normal;
}

button, .button{
    padding:5px 10px;
    border:none;
    background-color:white;
    text-decoration:none;
}

.coming-soon{
    width:100%;
    height:159px;
    background:#222;
    font-weight:bold;
    opacity:.7;
    text-align:center;
    padding:50px;
    color:white;
}

.block{
    width: 100%;
    float: left;
    min-height: 120px;
    position:relative;
    margin-bottom:20px;
    padding-top: 80px;
    &.block-span{
        margin-bottom:0px;
    }
    .block-head{
        position: absolute;
        top: 20px;
        left: 0;
        padding: 0 20px 0 0;
        width: 100%;
    }
    .block-title{
        float: left;
        background: white;
        padding: 10px;
        margin:0;
    }
    .block-modifier{
        float: right;
        background: white;
        padding: 10px; 
        margin:0;       
    }
}

.app-container{
    width:100%;
    display:block;
    overflow: auto;
}

.col{
    float:left;
    padding:20px;
}    

.one-col{
    width:100%;
    float:left;
    .col{
        width:100%;
    }    
}

.two-col{
    float:left;
    width:100%;
    .col{
        width:50%;
    }
}

//forms

.fieldset{    
    margin-bottom: 15px;    
}

.legend{
    font-weight: bold;
    padding: 0 8px;    
}


//login view

.login-view{
    margin:0;
    background-color:$el-bg;
    height: 100vh;
    width: 100vw;
}

.login{
    width: 400px;
    margin: auto; 
    margin-top: 100px;   
    position:absolute;
    left:50%;
    margin-left:-200px;
}

//mobi colors + modes

.visa{
    color:$visa;
}
.mastercard{
    color:$mastercard;
}
.paypal{
    color:$paypal;
}
.amex{
    color:$amex;
}

i, span{
    &.rain{
        color:$rain;
    }
    &.sleet{
        color:$sleet;
    }
    &.snow{
        color:$snow;
    }
    &.ice{
        color:$ice;
    }
    &.cold{
        color:$cold;
    }
    &.car{
        color:$car;
    }
    &.bicycle{
        color:$bicycle;
    }
    &.rocket{
        color:$rocket;
    }
    &.taxi{
        color:$taxi;
    }
    &.bus{
        color:$bus;
    }
    &.walk{
        color:$walk;
    }
    &.train{
        color:$train;
    }
    &.subway{
        color:$subway;
    }
    &.scooter{
        color:$scooter;
    }
}

.mode{
    float: left;
    font-size: 22px;
    margin: 0px 9px;
    text-align: center;
    .mode-name{
        font-size: 11px;
        text-align: center;
        width: 100%;
        display: block;
        text-transform: uppercase;
        position: relative;
    }
    &.disabled{
        .fa-circle{
            color:#888;
        }
    }
}

.trans-bg{
    background:none;
    &:before{
        content:' ';
        position:absolute;
        left:0;
        top:0;
        background:white;
        opacity:.83;
        width:100%;
        height:100%;
        z-index:0;
    }
}

//user question view

.question-view{    
    height: 100vh;
    width: 100vw;
    .question-view-container{            
        position: relative;
        margin: auto;
        width: 700px;
        margin-top: 150px;
        border-radius: 10px;
        padding: 30px;
    }
    .question{
        position:relative;
    }
    .submit{            
        display: block;
        margin-top: 20px;
    }
}

//user view
 
.user-view{
    background-image: url('../../img/bokeh.jpg');
    background-size:contain;
    .page-container{
        max-width:900px;
        margin:auto;
        margin-top:50px;
    }
    h1{
        color:white;
    }
    .map{
        height: 300px;
        width: 100%;
    }
    .chart-container{
        .chart{
            height:200px;
        }
        .button-area{
            display:none;
            padding:0;
            button{
                font-size:12px;
                width:100%;
                font-weight:bold;
                padding:5px;
                margin-bottom:5px;
            }
            .spent{
                background-color:$spent;
            }
            .saved{
                background-color:$saved
            }
        }
    }
    .mode-area{
        padding-bottom:20px;
    }
} 

.membership{
    p{
        font-weight: bold;
        text-align: center;
        border-top: 1px solid $text;
        padding: 10px;
    }
}


//search view
.search-view{    
    height:100vh;
    width:100vw;
}

#search-map{
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height:100%;
}

.search-box{
    width: 40vw;
    height: 300px;
    position: absolute;
    left: 60vw;
    top: 0;
    z-index: 2;
    margin-left: -20vw;
    margin-top:20px; 
    @media screen and (max-width: 767px){
        padding:20px;
        width:100vw;
        left:0;
        margin-left:0;
    }
    input{
        width:100%;
        margin-bottom:10px;
        padding:5px;
    }
    .search-button{    
        height: 78px;
        color: #333;
        background: #ccc;
        width: 100%;
        font-size: 33px;
        text-align: center;
        padding-top: 15px;
        display: inline-block;
        cursor: pointer;
    }
}
.show-filters, .hide-filters{
    @media screen and (min-width:768px){
        display:none;
    }
    z-index: 2;
    left:0;
    position: fixed;
    bottom: 0;
    padding: 15px 0;
    background: lightskyblue;
    color: white;
    font-size: 18px;
    width:100%;
    font-weight: bold;
}
.search-bar{
    height:100vh;
    width:300px;
    position:relative;
    overflow-y:auto;
    color:$text;
    padding:25px;
    float:left;
    @media screen and (max-width: 767px){
        display:none;
        width:100%;    
        z-index: 9;
        background:white;  
        padding-bottom: 75px;
        .overlay{
            width:100%;
        }
    }
    .overlay{        
        opacity: .83;
        background: white;
        height: 100%;
        width: 285px;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1;
    }
    .content{            
        z-index: 1;
        position: relative;
    }
    .filter-bar{        
        text-align: center;
        padding:15px;
        background:white;
        float: left;
        width: 100%;
    }
    input[type="range"]{            
        display: block;
        width: 100%;
        margin-top: 10px;
    }
    .cc-id{
        text-align:center;
        i{
            width:20%;
            font-size:20px;
        }
    }
    .range-filter{
        margin:10px 0;
    }
    .label-data{
        float:right;
    }
    &.results-bar{
        .filter-bar:first-child{
            display:none;
        }        
    }
    .results-area{            
        height: 50vh;
        overflow: auto;
    }
    .search-result{
        padding: 5px;
        width: 100%;
        margin-bottom: 10px;
        background: white;
        clear: both;
        display: inline-block;
        cursor:pointer;
        &.selected{
            border:2px solid #000;
            background:#fafafa;
        }
        .heading{
            float:left;
            width:100%;
        }
        .departure{
            text-align:right;
        }
    }
    .trip-timeline{
        width:100%;
        height:1px;
        position:relative;
        border:3px dotted $text;
        margin: 5px 0 15px 0;
        float: left;        
    }
    .activity-plot{
        position: absolute;
        top: -10px;         
        &.end{
            width: 4px;
            border-radius: 0;
        }
    }    
    .activity-container{
        position:relative;
        margin-top:10px;
        float:left;
        .activity-item{
            position: absolute;
            top:0;
            left: 0;
        }
        span{
            margin-left:35px;
        }
        p{
        float: left;
        margin-left: 36px;
        font-size: 12px;
        margin: 2px 0 3px 36px;
        }
    }
    .activity-container span{
        text-transform: capitalize;
        font-size: 17px;
        width: 87%;
        display: inline-block;
        background-color: white;
        font-weight: bold;
    }
    .activity-plot, .activity-item{
        height: 20px;
        width: 20px;
        margin: 0;
        display: inline-block;
        line-height: 20px;
        border-radius: 100%;
        background-size: contain;
        background-color:$text;
        text-align:center;
        color:black;
        font-size:10px;         
        &.train{
            background-color:$train;
        }
        &.bike{
            background-color:$bicycle;
        }
        &.drive{
            background-color:$car;    
        }
        &.walk{
            background-image: url("../../img/walk-ico.png");
            background-color: $walk;
            background-size: 75% 75%;
            background-position: center 48%;
            background-repeat: no-repeat;
            background-image:url("../../img/walk-ico.png")
        }
        &.taxi{
            background-color:yellow;    
        }
        &.transit{
            background-image:url("../../img/mbta-ico.png")
        }
        &.uber{
            background-image:url("../../img/uber-ico.png")
        }
        &.lyft{
            background-image:url("../../img/lyft-ico.png")
        }
        &.zipcar{
            background-image:url("../../img/zipcar-ico.png")
        }
        &.hubway{
            background-image:url("../../img/hubway-ico.png")
        }
    }
    .btn-book{
        font-weight:bold;
        width:100%;
        text-align:center;
    }

}
.mode-filter{
    float:left;
    width:20%;
    text-align:center;
    cursor:pointer;
    &:not(.selected){
        .fa-stack-2x{
            color:$el-bg !important;            
        }
    }
    &.selected{
        .fa-inverse{
            color:inherit;
        }
    }
    .mode-name{
        float:left;
        width:100%;
    }
    .fa-stack{
        font-size:18px;
    }
}


input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #222;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #666;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #222;
}